{% extends 'web/template.html.twig' %}

{% block title %}My Posts
{% endblock %}

{% block content %}

	<div class="container myposts">
		<h1>My Posts</h1>
		<div
			class="pagination">
			{# Left arrow #}
			{% if app.request.get('page') != 1 %}
				<a class="arrow" href="{{ url('author.posts', {page: app.request.get('page') - 1}) }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
					</svg>
				</a>
			{% endif %}

			{# Page numbers #}
			{% for i in 1..pageCount %}
				{% if i == app.request.get('page') %}
						<a class="active" href="{{ url('author.posts', {page: i}) }}">{{i}}</a>

					{% else %}

						<a href="{{ url('author.posts', {page: i}) }}">{{i}}</a>
				{% endif %}
			{% endfor %}

			{# Right arrow #}
			{% if app.request.get('page') != pageCount %}
				<a class="arrow" href="{{ url('author.posts', {page: app.request.get('page') + 1}) }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
			{% endif %}
		</div>
		<table>
			<thead>
				<tr>
					<td>Title</td>
					<td>Created</td>
					<td>Public</td>
					<td>Views</td>
					<td></td>
				</tr>
			</thead>
			{% for post in posts %}
				<tr>
					<td>
						<a href="{{url('index.post', {id: post.id})}}">{{post.title}}</a>
					</td>
					<td>
						{{post.created|date("d.m.Y H:i")}}
					</td>
					<td>
						{% if post.public %}
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2" viewbox="0 0 16 16">
								<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
							</svg>
						{% else %}
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewbox="0 0 16 16">
								<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
							</svg>
						{% endif %}
					</td>
					<td>
						{{post.views}}
					</td>
					<td>
						<a href="{{url('author.posts.edit', {id: post.id})}}" class="edit-btn">Edit</a>
						<a href="#" class="delete-btn">Delete</a>
					</td>
				</tr>
			{% endfor %}

		</table>
	</div>
{% endblock %}
