{% extends 'web/template.html.twig' %}

{% block title %}Index
{% endblock %}

{% block content %}
	<div class="container authorsettings">
		<h1>Settings</h1>
		{{form_start(form)}}

		{# Name #}
		{{form_label(form.name)}}
		{{form_widget(form.name)}}
		<div class="error">
			{{form_errors(form.name)}}
		</div>


		{# Password #}
		{{form_label(form.password)}}
		{{form_widget(form.password)}}
		<div class="error">
			{{form_errors(form.password)}}
		</div>


		{# Cover #}
		{{form_widget(form.profile)}}
		{{
			form_label(form.profile, 'Profile picture', {
				'label_attr': {'class': 'label-btn'}
			})
		}}
		<span class="filename">
			{% if currentPicture is defined %}
				{% if currentPicture != null %}
					<a href="{{absolute_url(currentPicturePath)}}" target="_blank">
						{{currentPicture}}
					</a>
				{% endif %}
			{% endif %}
		</span>
		<div class="error">
			{{form_errors(form.profile)}}
		</div>


		{# Token #}
		{{form_widget(form._token)}}

		{# Submit #}
		{{form_widget(form.submit)}}

		{{ form_end(form, {'render_rest': false}) }}
	</div>
{% endblock %}
