{% extends 'web/template.html.twig' %}

{% block title %}
	{% if edit is defined %}
		Edit post
	{% else %}
		New post
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container postwrite">
		{% if edit is defined %}
			<h1>
				Edit post
			</h1>

		{% else %}
			<h1>
				New post
			</h1>
		{% endif %}
		{{ form_start(form,{'method': 'POST'}) }}

		{# Title #}
		{{form_label(form.title)}}
		{{form_widget(form.title)}}
		<div class="error">
			{{form_errors(form.title)}}
		</div>

		{# Excerpt #}
		{{form_label(form.excerpt)}}
		{{form_widget(form.excerpt)}}
		<div class="error">
			{{form_errors(form.excerpt)}}
		</div>

		{# Cover #}
		{{form_widget(form.cover)}}
		{{
			form_label(form.cover, 'Cover image', {
				'label_attr': {'class': 'label-btn'}
			})
		}}
		<span class="filename">
			{% if coverImageName is defined %}
				<a href="{{absolute_url(coverImagePath)}}" target="_blank">
					{{coverImageName}}
				</a>
			{% endif %}
		</span>
		<div class="error">
			{{form_errors(form.cover)}}
		</div>

		{# Body #}
		{{
			form_label(form.body)
		}}
		{{form_widget(form.body)}}
		<div class="error">
			{{form_errors(form.body)}}
		</div>


		
		{# Public #}
		{{form_label(form.public)}}
		{{form_widget(form.public)}}
		<div class="error">
			{{form_errors(form.public)}}
		</div>


		{# Token #}
		{{form_widget(form._token)}}


		{# Submit #}
		{{form_widget(form.submit)}}





		{{ form_end(form, {'render_rest': false}) }}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="//cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>
{% endblock %}
