{% extends 'web/template.html.twig' %}

{% block title %}Home
{% endblock %}

{% block content %}
	<div class="homepage-banner">
		<div class="container">

			<div class="description">
				<a href="{{url('index.post', {id: banner.id})}}" class="title">
					{{banner.title}}
				</a>
				<div class="date">
					{{banner.created|date("d.m.Y H:i")}}
				</div>
				<div class="excerpt">
					{{banner.excerpt}}
				</div>
			</div>
			<a class="picture" href="{{url('index.post', {id: banner.id})}}">
				<img src="{{absolute_url(asset(banner.cover))}}" alt="{{banner.title}} cover image">
				<div class="decorative-lines"></div>
			</a>
		</div>
	</div>
	<div class="featured-posts">
		{% for article in featured %}
			<article>
				<a href="{{url('index.post', {id: article.id})}}">
					<img src="{{absolute_url(asset(article.cover))}}" alt="{{article.title}} cover image">
					<h4>{{article.title}}</h4>
				</a>
				<div class="excerpt">
					{{article.excerpt[0:200]}} ...
				</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}
