{% extends 'web/template.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block content %}
	<div class="container allposts">
		<h1>All posts</h1>
		<table>
			{% for post in posts %}

				<tr>
					<td>
						<a class="title" href="{{url('index.post', {id: post.id})}}">
							<img src="{{absolute_url(asset(post.cover))}}" alt="{{post.title}} cover image">
						</a>

					</td>
					<td>
						<a class="title" href="{{url('index.post', {id: post.id})}}">
							{{post.title}}
						</a>
						<div class="created">{{post.created|date("d.m.Y H:i")}}</div>
						<div class="excerpt">{{post.excerpt}}</div>
					</td>
				</tr>
			{% endfor %}
		</table>

	</div>
{% endblock %}
