{% extends 'web/template.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}
{% block metadescription %}
	{{ (post.excerpt|trim)[0:150]}}
{% endblock %}

{% block content %}
	<div class="container postview">
		<div class="toprow">
			<div class="info">
				<h1>
					{{post.title}}
				</h1>
				<div class="author">
					<img src="{{ absolute_url(asset(post.author.picture)) }}" alt="{{post.author.name}}'s profile picture">
					<a href="#">
						{{post.author.name}}
					</a>
				</div>
				<div class="created">
					{{post.created|date("d.m.Y H:i")}}
				</div>
			</div>
			<a class="cover" href="{{absolute_url(asset(post.cover))}}" target="_blank">
				<img src="{{absolute_url(asset(post.cover))}}" alt="{{post.title}}">
			</a>
		</div>
		<div class="excerpt">
			{{post.excerpt}}
		</div>
		<div class="body">
			{{post.body|raw}}
		</div>
	</div>
{% endblock %}
