// Colors
$main_color: rgb(218, 2, 153);
$main_dark_color: rgb(35, 34, 36);

// Web dimenstions
$header_height: 5em;
$container_side_padding: 15vw;

// Font sizes
$logoSize: 2em;
$header_link_size: 1em;

// Helper mixins
@mixin logo {
    font-family: "Permanent Marker", cursive;
    font-size: $logoSize;
    span {
        font-family: "Permanent Marker", cursive;
        color: $main_color;
        font-size: 1em;
    }
}

@mixin logo_font {
    font-family: "Permanent Marker", cursive;
}
