@import "vars";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    &::selection {
        background-color: $main_color;
        color: white;
    }
}
.body * {
    margin: revert;
    padding: revert;
}

body {
    background-color: white;
    overflow-x: hidden;
}
header {
    background-color: $main_dark_color;
    padding: 0rem 15vw;
    height: $header_height;
    position: sticky;
    top: 0px;
    left: 0px;
    transition: height 0.2s linear;
    z-index: 10;
    .logo {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding-top: ($header_height - 2 * $logoSize)/2;
        @include logo;
    }
    .user {
        color: rgba($color: white, $alpha: 0.8);
        font-size: 0.9em;
        position: relative;
        top: -0.2em;
        left: 2em;
        a {
            color: rgba($color: white, $alpha: 0.8);
            text-decoration: none;
            svg {
                height: 1.7em;
                width: 1.7em;
                position: relative;
                top: 0.4em;
                left: 0.4em;
            }
            &:hover {
                color: white;
            }
        }
    }
    .menu {
        float: right;
        list-style: none;
        li {
            float: left;
            a {
                display: block;
                color: white;
                font-size: 1em;
                height: $header_height;
                font-size: $header_link_size;
                padding: ($header_height - 2 * $header_link_size)/5 * 3 1em 0px 1em;
                text-decoration: none;
                &:hover {
                    background-color: rgba($color: white, $alpha: 0.03);
                }
                &.active {
                    color: $main_color;
                    font-weight: bold;
                    background-color: rgba($color: white, $alpha: 0.05);
                }
            }
            &.divider {
                width: 1px;
                background-color: rgba($color: white, $alpha: 0.3);
                height: $header_height;
            }
        }
    }
}

footer {
    background-color: $main_dark_color;
    padding-left: $container_side_padding;
    position: relative;
    z-index: 5;
    .logo {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding-top: ($header_height - 2 * $logoSize);
        margin-left: 1em;
        @include logo;
    }
    .info {
        padding-top: 4em;
        padding-left: 2em;
        padding-bottom: 3em;
        table {
            width: 100vw - 2 * $container_side_padding;
            border-collapse: collapse;
            td {
                vertical-align: top;
                h3 {
                    color: $main_color;
                    font-size: 1.5em;
                    @include logo_font;
                    letter-spacing: 1px;
                    margin-bottom: 0.6em;
                }
                h4 {
                    font-size: 1em;
                    color: rgba($color: white, $alpha: 0.7);
                    position: relative;
                    top: -0.5em;
                    font-weight: lighter;
                }
                svg {
                    height: 1.2em;
                    width: 1.2em;
                    color: $main_color;
                    position: relative;
                    vertical-align: middle;
                    top: -0.1em;
                }
                a {
                    display: block;
                    text-decoration: none;
                    color: rgba($color: white, $alpha: 0.7);
                    margin-bottom: 0.6em;
                    font-weight: lighter;

                    &.contact-link {
                        margin-left: 1em;
                        display: inline-block;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:last-of-type {
                    width: 15vw;
                    padding-right: 4em;
                    form {
                        input {
                            display: block;
                            width: 100%;
                            float: left;
                            border: none;
                            padding: 0.7em;
                            outline: none;
                            color: white;
                            background-color: rgba($color: white, $alpha: 0.1);
                            &::placeholder {
                                color: rgba($color: white, $alpha: 0.4);
                            }
                            margin-bottom: 0.3em;
                            &[type="submit"] {
                                background-color: $main_color;
                                color: white;
                                font-weight: normal;
                                &:hover {
                                    cursor: pointer;
                                    color: $main_color;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .underline {
        border-top: 1px solid rgba($color: white, $alpha: 0.1);
        width: 100vw - 2 * $container_side_padding;
        padding: 2rem 2rem;
        color: rgba($color: white, $alpha: 0.6);
        .social {
            float: right;
            a {
                display: inline-block;
                color: rgba($color: white, $alpha: 0.6);
                height: 1.4em;
                width: 1.4em;
                text-decoration: none;
                margin-left: 0.8em;
                svg {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    svg {
                        color: white;
                    }
                }
            }
        }
    }
}
main {
    min-height: calc(100vh - 5em);
}

.container {
    padding-left: $container_side_padding;
    padding-right: $container_side_padding;
}

// homepage
.homepage-banner {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -4vw;
        left: 0;
        width: 100vw;
        height: 7vw;
        background-color: $main_dark_color;
        transform: skewY(-2deg);
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4vw;
        left: 0;
        width: 100vw;
        height: 8vw;
        background-color: $main_dark_color;
        transform: skewY(2deg);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        height: calc(100vh - 5em);
        .picture {
            width: 300vw;
            height: 25vw;
            padding-left: 2em;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 30%;
                height: 30%;
                background-color: $main_color;
                bottom: -0.6em;
                right: -1.8em;
                position: absolute;
                z-index: 0;
                transition: all 0.1s ease-out;
            }
            &::before {
                content: "";
                display: block;
                width: 30%;
                height: 30%;
                background-color: lighten($color: $main_dark_color, $amount: 40);
                top: -1.8em;
                right: -0.6em;
                position: absolute;
                z-index: 0;
                transition: all 0.1s ease-out;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: relative;
                z-index: 5;
                transition: all 0.1s ease-out;
            }
            .decorative-lines {
                background: $main_dark_color;
                width: 1px;
                height: calc(100% + 3em);
                position: absolute;
                top: -1.2em;
                right: -1em;
                z-index: 4;
                &:before {
                    content: "";
                    display: block;
                    width: 26vw;
                    height: 1px;
                    background: $main_dark_color;
                    position: absolute;
                    top: 0.6em;
                    right: -1.2em;
                    transition: all 0.1s ease-out;
                }
                transition: all 0.1s ease-out;
            }
            &:hover {
                img {
                    transform: scale(1.01);
                }
                &::after {
                    transform: translateY(0.5em);
                }
                &::before {
                    transform: translateX(0.7em);
                }
                .decorative-lines {
                    transform: translateY(-1em);
                    &::before {
                        transform: translate(2em, 1em);
                    }
                }
            }
        }
        .description {
            padding-left: 5em;
            .title {
                color: $main_color;
                font-size: 2.2em;
                line-height: 1em;
                font-weight: normal;
                text-decoration: none;
                display: block;
                text-align: right;
                background: white;
                padding: 0.5em;
                position: relative;
                z-index: 8;
                width: calc(100% + 3em);
                transition: all 0.2s ease-out;
                &:hover {
                    transform: translateX(0.1em);
                }
            }
            .date {
                display: block;
                text-align: right;
                color: rgba($color: black, $alpha: 0.4);
                margin-top: 1em;
            }

            .excerpt {
                padding-top: 0.2em;
                text-align: right;
                font-weight: normal;
            }
        }
    }
}

.featured-posts {
    background: $main_dark_color;
    color: white;
    position: relative;
    z-index: 1;
    padding: 0px $container_side_padding;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
        width: calc(30% - 2em);
        a {
            text-decoration: none;
            img {
                width: 100%;
                height: 12vw;
            }
            h4 {
                color: $main_color;
                text-decoration: none;
                font-size: 1.6em;
                font-weight: normal;
                padding-top: 0.3em;
            }
        }
        .excerpt {
            color: rgba($color: white, $alpha: 0.8);
            padding-top: 0.8em;
        }
        &:nth-child(3n + 2) {
            margin-top: 2em;
        }
        &:nth-child(3n) {
            margin-top: 4em;
        }
    }
}

// login page
.login-wrapper {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -2vw;
        left: 0;
        width: 100vw;
        height: 9vw;
        background-color: $main_dark_color;
        transform: skewY(-2deg);
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4vw;
        left: 0;
        width: 100vw;
        height: 10vw;
        background-color: $main_dark_color;
        transform: skewY(2deg);
    }
    .message {
        padding-left: 15vw;
        text-align: right;
        font-size: 1.4em;
        font-weight: lighter;
        padding-right: 25vw;
        .logo {
            @include logo;
            font-size: 2.5em;
            position: relative;
            top: 0.2em;
        }
    }
    form {
        display: block;
        border-left: 2px solid $main_color;
        padding: 4em 2em;
        width: 20vw;
        .error {
            color: red;
            padding: 1em 0px;
        }
        input {
            display: block;
            width: 100%;
            padding: 0.6em 1em;
            font-size: 1em;
            outline: none;
            margin-bottom: 1.5em;
            border: 1px solid lighten($color: $main_dark_color, $amount: 30);
        }
        button {
            display: block;
            width: 100%;
            border: none;
            background-color: $main_color;
            color: white;
            text-align: center;
            font-size: 1.1em;
            padding: 0.6em;
            border: 2px solid $main_color;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $main_color;
            }
        }
    }
}

// single post
.postview {
    .toprow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 7em;
        .info {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;
            h1 {
                font-size: 3em;
                display: block;
                width: 100%;
                padding-bottom: 0.5em;
                padding-right: 2em;
            }
            .created {
                font-size: 1.1em;
                display: inline-block;
                color: rgba($color: black, $alpha: 0.6);
                padding-right: 5.6em;
                margin-bottom: auto;
            }

            .author {
                margin-top: 0.3em;
                display: inline-block;
                img {
                    width: 2.5em;
                    height: 2.5em;
                    object-fit: cover;
                    vertical-align: middle;
                }
                a {
                    font-size: 1.1em;
                    color: rgba($color: black, $alpha: 0.7);
                    text-decoration: none;
                }
            }
        }
        .cover {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
    .excerpt {
        font-weight: bold;
        margin-top: 4em;
        font-size: 1.1em;
    }
    .body {
        margin-top: 3em;

        padding-bottom: 10em;
    }
}

// post write page
.postwrite {
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        display: block;
        padding: 1em;
    }
    form {
        padding-bottom: 10em;
        label {
            display: block;
            color: $main_color;
            padding: 0.4em 0.8em;
            &.label-btn {
                color: white;
                background-color: $main_color;
                display: inline-block;
                padding: 0.6em 2em;
                border: 2px solid $main_color;
                &:hover {
                    cursor: pointer;
                    color: $main_color;
                    background-color: white;
                }
            }
        }
        input {
            border: 1px solid rgba($color: black, $alpha: 0.3);
            font-size: 1.1em;
            padding: 0.4em 0.8em;
            display: block;
            width: 100%;
            &[type="file"] {
                display: none;
            }
            &[type="checkbox"] {
                width: 1em;
            }
        }
        textarea {
            border: 1px solid rgba($color: black, $alpha: 0.3);
            width: 100%;
            max-width: 100%;
            height: 6rem;
            font-size: 1.05em;
            padding: 0.4em 0.8em;
            resize: none;
        }

        .error {
            color: red;
            border-left: 2px solid red;
            padding-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        button {
            display: block;
            width: 100%;
            color: white;
            background-color: $main_color;
            display: inline-block;
            padding: 0.6em 2em;
            border: 2px solid $main_color;
            &:hover {
                cursor: pointer;
                color: $main_color;
                background-color: white;
            }
        }
    }
}

//author posts page
.myposts {
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        display: block;
        padding: 1em;
    }
    .pagination {
        display: flex;
        justify-content: center;
        a {
            display: block;
            text-decoration: none;

            padding: 0.2em;
            margin: 2px;
            background-color: white;
            color: $main_color;
            border: 1px solid $main_color;
            &.arrow {
                background-color: white;
                color: $main_color;
                border: none;

                svg {
                    vertical-align: middle;
                }
            }
            &.active {
                color: white;
                background-color: $main_color;
            }
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        tr {
            border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
            td {
                padding: 0.6em;
                color: rgba($color: black, $alpha: 0.6);
                a {
                    text-decoration: none;
                    color: $main_color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:nth-child(3) {
                    // public collumn
                    text-align: center;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
        thead {
            font-weight: bold;
            td {
                color: black !important;
            }
        }
        .edit-btn {
            color: white;
            background: rgb(0, 162, 255);
            padding: 0.3em 0.7em;
        }
        .delete-btn {
            color: white;
            background: red;
            padding: 0.3em 0.7em;
        }
    }
}

.allposts {
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        display: block;
        padding: 1em;
    }
    table {
        width: 70vw;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
            td {
                padding: 1.8em 0em;
                &:first-child {
                    img {
                        display: block;
                        width: 20vw;
                    }
                }
                &:nth-child(2) {
                    padding-left: 2em;
                    .title {
                        color: $main_color;
                        font-size: 1.3em;
                    }
                    .created {
                        color: rgba($color: black, $alpha: 0.6);
                        font-size: 0.95em;
                        padding: 0.4em 0px;
                    }
                }
            }
        }
    }
}

// author settings page
.authorsettings {
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        display: block;
        padding: 1em;
    }
    form {
        padding-bottom: 10em;
        label {
            display: block;
            color: $main_color;
            padding: 0.4em 0.8em;
            &.label-btn {
                color: white;
                background-color: $main_color;
                display: inline-block;
                padding: 0.6em 2em;
                border: 2px solid $main_color;
                &:hover {
                    cursor: pointer;
                    color: $main_color;
                    background-color: white;
                }
            }
        }
        input {
            border: 1px solid rgba($color: black, $alpha: 0.3);
            font-size: 1.1em;
            padding: 0.4em 0.8em;
            display: block;
            width: 100%;
            &[type="file"] {
                display: none;
            }
            &[type="checkbox"] {
                width: 1em;
            }
        }
        textarea {
            border: 1px solid rgba($color: black, $alpha: 0.3);
            width: 100%;
            max-width: 100%;
            height: 6rem;
            font-size: 1.05em;
            padding: 0.4em 0.8em;
            resize: none;
        }

        .error {
            color: red;
            border-left: 2px solid red;
            padding-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        button {
            display: block;
            width: 100%;
            color: white;
            background-color: $main_color;
            display: inline-block;
            padding: 0.6em 2em;
            border: 2px solid $main_color;
            &:hover {
                cursor: pointer;
                color: $main_color;
                background-color: white;
            }
        }
    }
}

// 404 error page
.e404 {
    text-align: center;
    padding-top: 8em;
    h1 {
        font-size: 14em;
        color: $main_color;
    }
    h2 {
        font-weight: lighter;
        font-size: 4em;
    }
}

// mobile
@media screen and (max-width: 768px) {
    .container {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    header {
        height: 7em;
        .menu {
            float: initial;
            margin: auto;
            display: flex;
            justify-content: space-around;
            li {
                float: initial;
                a {
                    padding-top: 0.8em;
                    &.active {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .homepage-banner {
        .container {
            height: 83vh;
            display: block;
            .description {
                margin-left: 0px;
                padding-left: 0px;
                padding-right: 0.7em;
                .title {
                    background-color: transparent;
                    width: 100%;
                    padding-top: 5rem;
                    padding-right: 0px;
                }
                .date {
                    margin-top: 0px;
                    margin-bottom: 0.5em;
                }
                .excerpt {
                    padding-bottom: 1em;
                }
            }
            .picture {
                width: 80vw;
                img {
                    width: 80vw;
                    height: auto;
                }
            }
        }
        &::after {
        }
    }
    .featured-posts {
        display: block;
        padding: 4em 1em 4em 1em;

        article {
            width: 100%;
            & > a {
                img {
                    height: 45vw;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    footer {
        padding-left: 0px;
        .info {
            width: 100%;
            table {
                width: 90%;
                td{
                    &:nth-child(3), &:nth-child(4){
                        display: none;
                    }
                    
                }
            }
        }
        .underline{
            width: 100%;
            text-align: center;
            .social{
                float: initial;
                margin-top: 1em;
            }
        }
    }
}
