<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>JustAnotherBlog |
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content="{% block metadescription %}This is just another blog. You can find nothing new, nothing inspirational, nothing even remotely making sense. {% endblock %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Permanent+Marker&display=swap" rel="stylesheet">
		{{encore_entry_link_tags('main')}}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{{encore_entry_script_tags('main')}}
		{% block javascripts %}{% endblock %}
	</body>
</html>
