{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<div class="login-wrapper">
		<div class="message">
			<span class="logo">Just<span>another</span>blog</span>
			<br>
			Login
		</div>
		<form method="post">
				{% if error %}
					<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}


				<input type="email" value="" name="email" id="inputEmail" placeholder="E-mail" class="form-control" required autofocus>
				<input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
													        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
													        See https://symfony.com/doc/current/security/remember_me.html
													
													        <div class="checkbox mb-3">
													            <label>
													                <input type="checkbox" name="_remember_me"> Remember me
													            </label>
													        </div>
													    #}

				<button class="btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
			</form>
		</div>
	{% endblock %}
