{% extends 'web/template.html.twig' %}

{% block title %}Index
{% endblock %}

{% block content %}
	<div class="e404">
        <h1>{{status_code}}</h1>
        <h2>{{status_text}}</h2>
    </div>
{% endblock %}
